body {
    background-image: url('https://64.media.tumblr.com/7b3ad61d1585cbb71b432b1c657dfb99/tumblr_ncj4uvoFDQ1smn4pqo9_1280.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
