@using Microsoft.AspNetCore.Identity
@using FlightSharpWebSite.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Profile">Profile</a>
            </li>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                    <button id="logout" type="submit" class="nav-link">Logout</button>
                </form>
            </li>
        </div>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>